.container {
    position: relative;

    .button {
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    .menu {
        min-width: 100%;
        z-index: 100;
        position: absolute;
        top: 200%;
        right: 0;
        border-radius: 0.75rem;
        background-color: var(--background-element);
        -webkit-box-shadow: 0 0 3px 0px var(--accent-color) inset;
        -moz-box-shadow: 0 0 3px 0px var(--accent-color) inset;
        box-shadow: 0 0 3px 0px var(--accent-color) inset;
        text-align: center;
        visibility: hidden;
        opacity: 0;
        pointer-events: none;
        transition: .3s;
        cursor: default;

        &.active {
            top: 130%;
            visibility: visible;
            opacity: 1;
            pointer-events: all;
        }
    }
}