@import '../../styles/variables';

.create-property-comp {
   height: min-content;
   display: flex;
   flex-direction: column;
   background-color: getColor(background-element);
   padding: 2rem;
   border-radius: 1.5rem;
   text-align: center;
   align-items: center;
   width: 55rem;
   gap: .5rem;

   .numbers {
      width: 36rem;
      display: flex;
      gap: 2rem;
      justify-content: space-between;
   }

   .price {
      display: flex;
      width: 20rem;
   }
   
   .stats {
      display: flex;
      gap: 2rem;
      width: 36rem;
   }

   .conviniences {
      margin-top: 1rem;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      width: 70%;
      row-gap: .5rem;
      column-gap: 3rem;
   }

   .files {
      margin-top: 1rem;
   }

   .select {
      position: relative;
      place-self: end;
      font-weight: 400;
      font-size: 1.25em;
      color: getColor(text-grey);
      cursor: pointer;
      z-index: 10;
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;

      ul {
         position: absolute;
         top: 5em;
         right: -8px;
         padding: .75rem;
         list-style: none;
         border-radius: 0.75rem;
         background-color: getColor(background-element);
         color: getColor(text-main);
         cursor: default;
         -webkit-filter: drop-shadow(0 0 .05rem getColor(accent-color));
         filter        : drop-shadow(0 0 .05rem getColor(accent-color));
         -ms-filter    : "progid:DXImageTransform.Microsoft.Dropshadow(OffX=0, OffY=0, Color='#444')";
         filter        : "progid:DXImageTransform.Microsoft.Dropshadow(OffX=0, OffY=0, Color='#444')";
         transition: 0.5s;
         visibility: hidden;
         opacity: 0;


         li {
            cursor: pointer;

            &:not(:last-child) {
               margin-bottom: .5em;
            }

            &:hover {
               color: getColor(accent-color);
            }
         }

         &::after {
            content: "";
            position: absolute;
            top: -.35rem;
            right: .6em;
            width: 10px;
            height: 10px;
            background-color: inherit;
            transform: rotate(45deg);
         }
      }

      &[data-visible="true"] ul {
         top: 2.5rem;
         visibility: visible;
         opacity: 1;  
      }
   }
}