body {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 1rem;
  color: var(--text-main);
  background-color: var(--background-main);
  transition: background 0.25s ease-in-out;

  &::-webkit-scrollbar {
    width: .1rem;

    &-track {
      background: var(--background-element);
    }

    &-thumb {
      background: var(--text-grey);
    }
  }
}

a {
  color: var(--text-main);
  text-decoration: none;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
}

.submit-btn {
  display: block;
  margin-inline: auto;
  margin-top: 1.5rem;
  padding: .7rem 1.4rem;
  border-radius: .5rem;
  border: 2px solid var(--text-main);
  background-color: var(--text-main);
  color: var(--background-element);
  font-size: 1.2rem;
  font-weight: 600;
  cursor: pointer;
  transition: .15s;

  &:hover {
    background-color: var(--accent-color);
    border-color: var(--accent-color);
  }

  &:disabled {
    background-color: var(--accent-color);
    border-color: var(--accent-color);
  }
}

.error {
  display: block;
  margin-top: 1rem;
  color: rgb(255, 38, 0);
  font-size: 1.2rem;
  font-weight: 400;
}

.success {
  display: block;
  margin-top: 1rem;
  color: rgb(0, 226, 11);
  font-size: 1.2rem;
  font-weight: 400;
}

input::file-selector-button {
  margin-top: 1rem;
  padding: .5rem;
  border-radius: .5rem;
  border: 1px solid var(--text-main);
  background-color: transparent;
  color: var(--text-main);
  font-size: 1.2rem;
  font-weight: 400;
  cursor: pointer;
  transition: .15s;

  &:hover {
    border-color: var(--accent-color);
    color: var(--accent-color);
  }
}

.list {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  padding: 1rem 1.25rem;
  font-size: 1.25em;
  list-style: none;

  .item {
    cursor: pointer;

    &:hover {
      color: var(--accent-color);
    }
  }
}

.mapboxgl-popup-content {
  background-color: var(--background-element) !important;
  border-radius: .7rem !important;
}

.mapboxgl-popup-tip {
  border-top-color: var(--background-element) !important;
}

.auth-form {
  width: 70%;
  margin-inline: auto;

  .name {
    display: flex;
    gap: 1rem;

    * {
      flex: 1;
    }
  }

  .register-link {
    margin-top: 1rem;
    display: block;
    text-decoration: underline;
  }
}