body {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 1rem;
  color: var(--text-main);
  background-color: var(--background-main);
  transition: background 0.25s ease-in-out;

  &::-webkit-scrollbar {
    width: .1rem;

    &-track {
      background: var(--background-element);
    }

    &-thumb {
      background: var(--text-grey);
    }
  }
}

a {
  color: var(--text-main);
  text-decoration: none;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.submit-btn {
  margin-top: 1.5rem;
  padding: .6rem;
  border-radius: .5rem;
  border: 2px solid var(--text-main);
  background-color: var(--text-main);
  color: var(--background-element);
  font-size: 1.2rem;
  font-weight: 600;
  cursor: pointer;
  transition: .15s;

  &:hover {
    background-color: var(--accent-color);
    border-color: var(--accent-color);
  }
}