:root {
  --background-main: #FAFAFF;
  --background-element: #FFF;
  --text-main: #333;
  --text-grey: #A5A7A7;
  --accent-color: #2B67F6;

  --header-height: 7.5rem;
}

[data-theme='dark'] {
  --background-main: #1C1F2A;
  --background-element: #202531;
  --text-main: #FFF;
  --text-grey: #F4F7FF;
}