@import '../../styles/variables'; 

@media (hover: hover) and (pointer: fine) {
   .scrollhost::-webkit-scrollbar {
      display: none;
   }
}

.scrollhost-container {
   position: relative;
   height: 100%;
   
}

.scrollhost {
   overflow: auto;
   height: 100%;
   scrollbar-width: none;
   -ms-overflow-style: none;
   position: relative;
}

.scroll-bar {
   width: .5em;
   height: 100%;
   right: 0;
   top: 0px;
   position: absolute;
   border-radius: 7px;
   bottom: 0px;
   background-color: transparent;
   transition: .2s;
}

.scroll-thumb {
   width: .3em;
   height: 20px;
   margin-left: 1px;
   position: absolute;
   top: 0;
   border-radius: .5em;
   background-color: getColor(text-main);
   opacity: .2;
}

@media (hover: none) and (pointer: coarse) {
   .scroll-bar {
      display: none;
   }
}
 