@import '../variables.scss';

.container {
    max-width: 1920px;
    margin: 1.75rem auto;

    .info {
        margin-inline: clamp(1em, 3vw, 3.75em);
        padding: 1.8rem 2rem;
        border-radius: 1.25rem;
        background-color: $background-element;
        display: grid;
        gap: 3rem;
        grid-template-columns: 1.5fr auto 1fr min-content;
        grid-template-areas:
            'images headline headline favButton'
            'images . landlord landlord'
            'conveniences stats stats stats'
            'desc desc desc desc';

        .images {
            grid-area: images;
            height: 32rem;
            display: flex;
            gap: 1rem;

            .active {
                flex: 8;
                position: relative;
                border-radius: .7rem;
                background-color: $text-grey;

                .src {
                    object-fit: contain;
                }

                &:hover .imgButton {
                    opacity: .5;
                }

                .imgButton {
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    width: 3rem;
                    aspect-ratio: 1;
                    border: none;
                    border-radius: 50%;
                    background-color: $background-element;
                    color: $accent-color;
                    font-size: 2rem;
                    opacity: 0;
                    transition: .3s;
                    cursor: pointer;

                    &:hover {
                        opacity: 1;
                    }

                    &.next {
                        right: 1rem;
                    }

                    &.prev {
                        left: 1rem;
                    }
                }
            }

            .inactive {
                flex: 1;
                border-radius: .7rem;
                overflow-y: auto;

                &::-webkit-scrollbar {
                    display: none;
                }

                .image {
                    position: relative;
                    width: 100%;
                    aspect-ratio: 1;
                    border-radius: .7rem;
                    cursor: pointer;
                    overflow: hidden;

                    &:not(:last-child) {
                        margin-bottom: 1rem;
                    }

                    .src {
                        object-fit: cover;
                    }
                }
            }
        }

        .headline {
            grid-area: headline;
        }

        .landlord {
            grid-area: landlord;
        }

        .conveniences {
            grid-area: conveniences;
        }

        .stats {
            grid-area: stats;
        }

        .desc {
            grid-area: desc;
        }
    }

    .reviews {
        margin-inline: clamp(1em, 3vw, 3.75em);
    }
}