.container {
    max-width: 1920px;
    margin: 1.75rem auto;
    padding-bottom: 3rem;

    .info {
        margin-inline: clamp(1em, 3vw, 3.75em);
        padding: 1.8rem 2rem;
        border-radius: 1.25rem;
        background-color: var(--background-element);
        display: grid;
        gap: 3rem;
        grid-template-columns: 1.5fr auto 1fr min-content;
        grid-template-areas:
            'images headline headline favButton'
            'images landlord landlord landlord'
            'conveniences stats stats stats'
            'desc desc desc desc';

        .images {
            grid-area: images;
            height: 32rem;
            display: flex;
            gap: 1rem;

            .active {
                flex: 8;
                position: relative;
                border-radius: .7rem;
                background-color: var(--text-grey);
                overflow: hidden;

                .src {
                    object-fit: contain;
                }

                &:hover .imgButton {
                    opacity: .5;
                }

                .imgButton {
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    width: 3rem;
                    aspect-ratio: 1;
                    border: none;
                    border-radius: 50%;
                    background-color: var(--background-element);
                    color: var(--accent-color);
                    font-size: 2rem;
                    opacity: 0;
                    transition: .3s;
                    cursor: pointer;

                    &:hover {
                        opacity: 1;
                    }

                    &.next {
                        right: 1rem;
                    }

                    &.prev {
                        left: 1rem;
                    }
                }
            }

            .inactive {
                flex: 1;
                border-radius: .7rem;
                overflow-y: auto;

                &::-webkit-scrollbar {
                    display: none;
                }

                .image {
                    position: relative;
                    width: 100%;
                    aspect-ratio: 1;
                    border-radius: .7rem;
                    cursor: pointer;
                    overflow: hidden;

                    &:not(:last-child) {
                        margin-bottom: 1rem;
                    }

                    .src {
                        object-fit: cover;
                    }
                }
            }
        }

        .headline {
            grid-area: headline;
            display: flex;
            flex-direction: column;
            gap: .3rem;

            .title {
                font-size: 2.2rem;
                font-weight: 500;
            }

            .address {
                font-weight: 300;
                font-size: 1.5rem;
            }

            .price {
                font-weight: 400;

                span {
                    font-weight: 700;
                    font-size: 1.7rem;
                }
            }

            .rating {
                display: flex;
                text-align: center;

                .number {
                    font-size: 1.35rem;
                    margin-right: .5rem;
                }
            }
        }

        .landlord {
            grid-area: landlord;
            display: flex;
            gap: 1rem;
            place-self: flex-end;

            .text {
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                align-items: flex-end;

                .role {
                    font-weight: 400;
                    font-size: 1.5rem;
                    color: var(--accent-color);
                }

                .name {
                    font-weight: 500;
                    font-size: 2.5rem;
                }
            }

            .image {
                position: relative;
                width: 8.75rem;
                aspect-ratio: 1;

                .src {
                    border-radius: 50%;
                    object-fit: cover;
                }

                .chatBtn {
                    position: absolute;
                    bottom: -.8rem;
                    right: -.8rem;
                    width: 3.5rem;
                    aspect-ratio: 1;
                    border: none;
                    border-radius: 50%;
                    background-color: var(--background-element);
                    color: var(--text-main);
                    font-size: 1.7rem;
                    cursor: pointer;
                    transition: .15s;

                    &:hover {
                        color: var(--accent-color);
                    }
                }
            }
        }

        .conveniences {
            grid-area: conveniences;
            position: relative;
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            align-items: center;
            column-gap: 4rem;
            padding: 0;
            list-style: none;
            color: var(--text-grey);
            font-size: 1.3rem;
            font-weight: 400;
            overflow: hidden;

            li {
                position: relative;
                flex: 1 1 auto;
                text-align: center;

                &:first-letter {
                    text-transform: uppercase;
                }

                &:after {
                    content: "•";
                    position: absolute;
                    left: -2.4rem;
                    color: var(--accent-color);
                    font-size: 1.7rem;
                }
            }
        }

        .stats {
            grid-area: stats;
            display: flex;
            justify-content: space-around;
            text-align: center;

            .stat {
                display: flex;
                flex-direction: column;
                justify-content: center;
                width: 100%;

                &:not(:last-child) {
                    border-right: 1px solid var(--text-grey);
                }

                .category {
                    font-weight: 400;
                    font-size: 30px;
                }

                .value {
                    font-size: 2rem;
                    font-weight: 700;
                    color: var(--accent-color);
                }
            }
        }

        .desc {
            grid-area: desc;
            font-weight: 400;
            font-size: 1.5rem;
            white-space: pre-wrap;

            .map {
                float: right;
                margin: 0 0 1rem 1rem;
                width: 40%;
                aspect-ratio: 3/2;
                border-radius: 1.25rem;
                overflow: hidden;
                background-color: cyan;
            }
        }
    }

    .reviews {
        margin: 1.75rem clamp(1em, 3vw, 3.75em);
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 2rem;

        .review {
            max-width: 35rem;
            height: min-content;
            padding: 2rem 1.7rem;
            display: flex;
            flex-direction: column;
            gap: .3rem;
            border-radius: .7rem;
            background-color: var(--background-element);

            .reviewer {
                display: flex;
                align-items: center;
                gap: 1rem;

                .image {
                    position: relative;
                    width: 2rem;
                    height: 2rem;

                    .src {
                        border-radius: 50%;
                        object-fit: cover;
                    }
                }

                .name {
                    font-size: 1.7rem;
                }
            }

            .rating {
                display: flex;
                gap: .5rem;

                .number {
                    font-size: 1.4rem;
                    font-weight: 400;
                }
            }

            .text {
                font-size: 1.3rem;
                white-space: pre-wrap;
                font-weight: 400;
            }
        }
    }
}