@import '../../styles/variables'; 

.reviews {
   display: flex;
   flex-wrap: wrap;
   gap: 2rem;
   justify-content: center;
   margin-top: -3rem;
   margin-bottom: 2rem;

   .review-btn {
      width: min-content;
      background-color: getColor(background-element);
      color: getColor(text-main);
      border: none;
      border-radius: .7rem;
      height: min-content;
      padding: 2rem;
      font-size: 1.3rem;
      cursor: pointer;
      transition: .2s all ease-in-out;

      &:hover {
         color: getColor(accent-color);
      }
   }

   .rating-change {
      margin-top: 1rem;
      display: flex;
      justify-content: center;
      gap: 1rem;

      &__title {
         font-size: 1.3rem;
      }
   }

   .review {
      max-width: 35rem;
      height: min-content;
      padding: 1rem;
      background-color: getColor(background-element);
      display: flex;
      flex-direction: column;
      gap: .3rem;
      border-radius: .7rem;

      .rating {
         display: flex;
         .num {
            margin-right: 1rem;
         }
      }
   }
}