.container {
    max-width: 1920px;
    margin: 1.75rem auto;
    padding-bottom: 3rem;

    .info {
        margin-inline: clamp(1em, 3vw, 3.75em);
        padding: clamp(1em, 3vw, 1.8em) clamp(1em, 3vw, 2em);
        border-radius: 1.25rem;
        background-color: var(--background-element);
        display: grid;
        gap: clamp(1rem, 3vw, 3rem);
        grid-template-columns: clamp(45rem, 50vw, 58rem) 1fr 1fr min-content;
        grid-template-areas:
            'images headline headline favButton'
            'images landlord landlord landlord'
            'conveniences stats stats stats'
            'desc desc desc desc';

        .images {
            grid-area: images;
            height: clamp(25rem, 50vw, 32rem);
            display: flex;
            gap: clamp(.3rem, 2vw, 1rem);

            .active {
                flex: 1;
                flex-shrink: none;
                position: relative;
                border-radius: .7rem;
                background-color: var(--text-grey);
                overflow: hidden;

                .src {
                    object-fit: contain;
                }

                &:hover .imgButton {
                    opacity: .5;
                }

                .imgButton {
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    width: 3rem;
                    aspect-ratio: 1;
                    border: none;
                    border-radius: 50%;
                    background-color: var(--background-element);
                    color: var(--accent-color);
                    font-size: 2rem;
                    opacity: 0;
                    transition: .3s;
                    cursor: pointer;

                    &:hover {
                        opacity: 1;
                    }

                    &.next {
                        right: 1rem;
                    }

                    &.prev {
                        left: 1rem;
                    }
                }
            }

            .inactive {
                width: 7rem;
                border-radius: .7rem;
                overflow: auto;

                &::-webkit-scrollbar {
                    display: none;
                }

                .inactiveImages {
                    display: flex;
                    flex-direction: column;
                    gap: clamp(.3rem, 2vw, 1rem);

                    .image {
                        position: relative;
                        width: 100%;
                        aspect-ratio: 1;
                        border-radius: .7rem;
                        cursor: pointer;
                        overflow: hidden;

                        .src {
                            object-fit: cover;
                        }
                    }
                }
            }
        }

        .headline {
            grid-area: headline;
            display: flex;
            flex-direction: column;
            gap: .3rem;

            .title {
                font-size: clamp(1.5rem, 3vw, 2.2rem);
                font-weight: 500;
            }

            .address {
                font-weight: 300;
                font-size: clamp(1.1rem, 2vw, 1.5rem);
            }

            .price {
                font-weight: 400;

                span {
                    font-weight: 700;
                    font-size: clamp(1.2rem, 4vw, 1.7rem);
                }
            }

            .rating {
                display: flex;
                text-align: center;

                .number {
                    font-size: 1.35rem;
                    margin-right: .5rem;
                }
            }

            .roommates {
                display: flex;
                align-items: center;
                gap: 1rem;

                .rmImages {
                    height: 50px;
                    display: flex;

                    .roommate {
                        position: relative;

                        .src {
                            border-radius: 50%;
                            object-fit: cover;
                            transition: .2s ease-in-out;
                        }

                        .icon {
                            position: absolute;
                            inset: 0;
                            margin: auto;
                            color: var(--accent-color);
                            font-size: 1.5rem;
                            opacity: 0;
                            transition: .2s ease-in-out;
                        }

                        &.authorized {
                            cursor: pointer;

                            &:hover {
                                .src {
                                    -webkit-filter: brightness(50%);
                                }

                                .icon {
                                    opacity: 1;
                                }
                            }
                        }

                        &:not(:first-child) {
                            margin-left: -1rem;
                        }


                    }
                }

                .text {
                    display: flex;
                    flex-direction: column;
                    font-size: 1.25rem;
                    font-weight: 300;
                }
            }
        }

        .favBtn {
            grid-area: favButton;
            width: clamp(2.5rem, 6vw, 3rem);
            aspect-ratio: 1;
            border-radius: 30rem;
            background-color: var(--background-main);
            font-size: clamp(1.2rem, 3vw, 1.5rem);
            place-self: flex-start flex-end;
        }

        .landlord {
            grid-area: landlord;
            display: flex;
            gap: 1rem;
            place-self: flex-end;

            .text {
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                align-items: flex-end;
                text-align: end;

                .role {
                    font-weight: 400;
                    font-size: clamp(1rem, 3vw, 1.5rem);
                    color: var(--accent-color);
                }

                .name {
                    font-weight: 500;
                    font-size: clamp(1.2rem, 3vw, 2.5rem);
                }
            }

            .image {
                align-self: center;
                flex-shrink: 0;
                position: relative;
                width: clamp(5rem, 9vw, 8.75rem);
                aspect-ratio: 1;

                .src {
                    border-radius: 50%;
                    object-fit: cover;
                }

                .chatBtn {
                    position: absolute;
                    bottom: -.8rem;
                    right: -.8rem;
                    width: clamp(2.5rem, 5vw, 3.5rem);
                    aspect-ratio: 1;
                    border: none;
                    border-radius: 50%;
                    background-color: var(--background-element);
                    color: var(--text-main);
                    font-size: 1.7rem;
                    cursor: pointer;
                    transition: .15s;

                    &:hover {
                        color: var(--accent-color);
                    }
                }
            }
        }

        .conveniences {
            grid-area: conveniences;
            position: relative;
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            align-items: center;
            column-gap: 4rem;
            padding: 0;
            list-style: none;
            color: var(--text-grey);
            font-size: 1.3rem;
            font-weight: 400;
            overflow: hidden;

            li {
                position: relative;
                flex: 1 1 auto;
                text-align: center;

                &:first-letter {
                    text-transform: uppercase;
                }

                &:after {
                    content: "•";
                    position: absolute;
                    left: -2.4rem;
                    color: var(--accent-color);
                    font-size: 1.7rem;
                }
            }
        }

        .stats {
            grid-area: stats;
            display: flex;
            justify-content: space-around;
            text-align: center;

            .stat {
                display: flex;
                flex-direction: column;
                justify-content: center;
                width: 100%;

                &:not(:last-child) {
                    border-right: 1px solid var(--text-grey);
                }

                .category {
                    font-weight: 400;
                    font-size: clamp(1.25rem, 3vw, 1.875rem);
                }

                .value {
                    font-size: clamp(1.4rem, 4vw, 2rem);
                    ;
                    font-weight: 700;
                    color: var(--accent-color);
                }
            }
        }

        .desc {
            grid-area: desc;
            font-weight: 400;
            font-size: 1.5rem;
            white-space: pre-wrap;

            .map {
                position: relative;
                width: 40%;
                aspect-ratio: 3/2;
                margin: 0 0 1rem 1rem;
                float: right;
                border-radius: 1.25rem;
                overflow: hidden;
            }

            .marker {
                font-size: 2rem;
                color: var(--accent-color);
                cursor: pointer;
            }
        }
    }

    .reviews {
        margin: 1.75rem clamp(1em, 3vw, 3.75em);
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 2rem;

        .reviewBtn {
            width: min-content;
            height: min-content;
            padding: 2rem;
            border: none;
            border-radius: .7rem;
            background-color: var(--background-element);
            color: var(--text-main);
            font-size: 1.3rem;
            cursor: pointer;
            transition: .2s color ease-in-out;

            &:hover {
                color: var(--accent-color);
            }
        }

        .reviewForm {
            width: 70%;
            margin-inline: auto;

            .rating {
                padding-top: 1rem;
            }

            .deleteBtn {
                display: block;
                margin-inline: auto;
                margin-top: 1rem;
                border: none;
                background-color: transparent;
                color: rgb(255, 38, 0);
                font-weight: 400;
                text-transform: uppercase;
                cursor: pointer;
            }
        }

        .review {
            max-width: 35rem;
            height: min-content;
            padding: 2rem 1.7rem;
            display: flex;
            flex-direction: column;
            gap: .3rem;
            border-radius: .7rem;
            background-color: var(--background-element);

            .reviewer {
                display: flex;
                align-items: center;
                gap: 1rem;

                .image {
                    position: relative;
                    width: 2rem;
                    height: 2rem;

                    .src {
                        border-radius: 50%;
                        object-fit: cover;
                    }
                }

                .name {
                    font-size: 1.7rem;
                }
            }

            .rating {
                display: flex;
                gap: .5rem;

                .number {
                    font-size: 1.4rem;
                    font-weight: 400;
                }
            }

            .text {
                font-size: 1.3rem;
                white-space: pre-wrap;
                font-weight: 400;
            }
        }
    }
}

@media screen and (max-width: 90rem) {
    .container .info {
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            'headline favButton'
            'headline landlord'
            'images images'
            'conveniences stats'
            'desc desc';
    }
}

@media screen and (max-width: 73rem) {
    .container .info {
        grid-template-areas:
            'headline favButton'
            'headline landlord'
            'images images'
            'stats stats'
            'conveniences conveniences'
            'desc desc';

        .landlord {
            place-self: center;
        }
    }
}

@media screen and (max-width: 57rem) {
    .container .info {
        grid-template-columns: 1fr min-content;
        grid-template-areas:
            'headline favButton'
            'landlord landlord'
            'images images'
            'stats stats'
            'conveniences conveniences'
            'desc desc';

        .images {
            flex-direction: column-reverse;

            .inactive {
                height: clamp(3rem, 9vw, 5rem);
                width: auto;

                .inactiveImages {
                    height: 100%;
                    width: min-content;
                    flex-direction: row;
                }
            }
        }

        .desc {
            font-weight: 300;

            .map {
                width: 100%;
                height: 15rem;
            }
        }
    }
}