.container {
   width: clamp(30rem, 97vw, 60rem);
   height: calc(100vh - var(--header-height));
   margin-inline: auto;
   padding-block: 1rem;
   display: flex;
   justify-content: center;

   .conversations {
      width: 40%;
      max-height: 97%;
      margin-right: 1rem;
      overflow: auto;
      padding: 2rem 1.7rem;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      border-radius: 1.5rem;
      background-color: var(--background-element);

      &::-webkit-scrollbar {
         display: none;
      }

      .conversation {
         display: flex;
         justify-content: space-between;

         .user {
            display: flex;
            gap: 1rem;
            align-items: center;
            cursor: pointer;

            .image {
               flex-shrink: 0;
               position: relative;
               width: 2.5rem;
               aspect-ratio: 1;

               .src {
                  border-radius: 50%;
                  object-fit: cover;
               }

               .notification {
                  position: absolute;
                  right: -.3rem;
                  height: 1rem;
                  aspect-ratio: 1;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  border-radius: 50%;
                  outline: 2px solid var(--background-element);
                  background-color: var(--accent-color);
                  color: #fff;
                  font-size: .7rem;
               }
            }

            .name {
               font-size: 1.2rem;
               font-weight: 400;
               transition: color .15s ease-in-out;
            }

            &:hover .name {
               color: var(--accent-color);
            }
         }

         .conversationMenuBtn {
            width: 3rem;
            aspect-ratio: 1;
            border: none;
            background-color: transparent;
            color: var(--text-main);
            font-size: 1.5rem;
            cursor: pointer;
            transition: color .15s ease-in-out;

            &:hover {
               color: var(--accent-color);
            }
         }

         .rent {
            margin-top: 1rem;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            gap: .5rem;
         }

         .deleteBtn {
            display: block;
            margin-inline: auto;
            margin-top: 1rem;
            border: none;
            background-color: transparent;
            color: rgb(255, 38, 0);
            font-weight: 400;
            text-transform: uppercase;
            cursor: pointer;
         }
      }
   }

   .box {
      position: relative;
      height: 97%;
      width: 70%;
      padding: 2rem;
      display: flex;
      flex-direction: column;
      border-radius: 1.5rem;
      background-color: var(--background-element);

      .closeChatBtn {
         position: absolute;
         right: 2rem;
         background-color: transparent;
         border: none;
         font-size: 1.5rem;
      }

      .name {
         margin-bottom: 1rem;
      }

      .messages {
         height: 88%;
         margin-bottom: 1rem;
         padding-right: 1rem;
         overflow-y: auto;

         &::-webkit-scrollbar {
            display: none;
         }

         .message {
            margin-bottom: 1rem;
            display: flex;
            flex-direction: column;

            .body {
               display: flex;
               align-items: flex-start;
               gap: .5rem;

               .image {
                  width: 2rem;
                  aspect-ratio: 1;
                  position: relative;

                  .src {
                     border-radius: 50%;
                     object-fit: cover;
                  }
               }

               .text {
                  max-width: 30rem;
                  padding: .5rem .7rem;
                  display: flex;
                  flex-direction: column;
                  border-radius: .2rem 1rem 1rem 1rem;
                  background-color: var(--background-main);

                  .time {
                     color: var(--text-grey);
                     font-size: .7rem;
                     font-weight: 300;
                  }
               }
            }

            &.own {
               align-items: flex-end;

               .body {
                  flex-direction: row-reverse;

                  .text {
                     border-radius: 1rem .2rem 1rem 1rem;

                     .time {
                        align-self: flex-end;
                     }
                  }
               }
            }
         }
      }

      .newMessage {
         height: 12%;
         display: flex;

         .textarea {
            width: 100%;
            height: 100%;
            padding: 15px;
            border-radius: 1rem 0 0 1rem;
            border: 2px solid var(--text-main);
            border-right: none;
            outline: none;
            box-shadow: none;
            background-color: var(--background-main);
            color: var(--text-main);
            resize: none;
            transition: 0.2s;

            &::-webkit-scrollbar {
               width: .3rem;
               height: .5rem;
            }

            &::-webkit-scrollbar-thumb:vertical {
               height: 10px;
               border: none;
               -webkit-border-radius: 1rem;
               background-color: #666;
            }

            &:focus {
               border-color: var(--accent-color);

               ~.btn {
                  border-color: var(--accent-color);
               }
            }
         }

         .btn {
            height: 100%;
            padding-inline: 1rem;
            border-radius: 0 1rem 1rem 0;
            border: 2px solid var(--text-main);
            border-left: none;
            outline: none;
            background-color: var(--background-main);
            color: var(--text-main);
            font-size: 1.5rem;
            cursor: pointer;
            transition: 0.2s;

            &:hover {
               color: var(--accent-color);
            }
         }
      }
   }
}

@media screen and (max-width: 62rem) {
   .container .conversations {
      width: 22rem;
   }
}

@media screen and (max-width: 50rem) {
   .container {
      width: auto;

      .conversations {
         margin-right: 0;
      }

      .box {
         width: 95%;
         height: calc(100vh - var(--header-height) - 2rem);
         position: absolute;
         left: 50%;
         transform: translateX(-50%);
      }
   }
}

@media screen and (max-width: 24rem) {
   .container .conversations {
      width: 95%;
      padding: 1.3rem 1rem;
      gap: .5rem;

      .conversation .user {
         .image {
            width: 2rem;
         }

         .name {
            font-size: 1rem;
         }
      }
   }
}