.container {
   padding: calc(var(--header-height) + 1.75rem) 1.75rem;
   display: flex;
   justify-content: center;

   .wrapper {
      width: 55rem;
      padding: 2rem;
      display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center;
      border-radius: 1.5rem;
      background-color: var(--background-element);
   }

   .addForm {
      width: 70%;

      .flex {
         display: flex;
         column-gap: 2rem;
         align-items: flex-end;

         * {
            flex: 1;
         }
      }

      .type {
         flex: .4;
         color: var(--text-main);
         font-weight: 400;
         font-size: 1.35rem;
         cursor: pointer;

         .dropDownTitle {
            display: flex;
            justify-content: space-between;

            *:nth-child(1) {
               text-align: start;
            }

            *:nth-child(2) {
               color: var(--accent-color);
               text-align: end;
               font-weight: 700;
            }
         }

         .list {
            // width: 12rem;
            display: flex;
            flex-direction: column;
            text-align: center;
            gap: .5rem;
            padding: 1rem 1.25rem;
            list-style: none;
            font-size: 1.15rem;

            .item {
               cursor: pointer;
               transition: .15s;

               &:hover {
                  color: var(--accent-color);
               }
            }
         }
      }

      .conveniences {
         margin-top: 1rem;
         display: flex;
         justify-content: center;
         flex-wrap: wrap;
         row-gap: .5rem;
         column-gap: 3rem;
      }
   }
}

@media screen and (max-width: 59rem) {
   .container {
      .wrapper {
         .addForm {
            width: 100%;
         }
      }
   }
}

@media screen and (max-width: 31rem) {
   .container {
      .wrapper {
         .addForm {
            .flex {
               flex-direction: column;

               * {
                  width: 100%;
               }
            }
         }
      }
   }
}