.container {
   max-width: calc(1920px - 1.75rem);
   margin: 1.75rem auto;
   padding-inline: 1.75rem;
   padding-bottom: 3rem;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   gap: 1rem;
}