.container {
    height: calc(100vh - var(--header-height));
    max-width: 120rem;
    padding-inline: clamp(1rem, 3vw, 3.75rem);
    padding-top: clamp(1rem, 3vw, 2.75rem);
    display: grid;
    gap: clamp(.7rem, 2.5vw, 2rem) clamp(1rem, 3vw, 3.75rem);
    margin-inline: auto;
    grid-template-columns: clamp(41rem, 47vw, 45rem) minmax(25rem, 65rem);
    grid-template-rows: min-content 1fr clamp(1rem, 3vw, 2.75rem);
    grid-template-areas:
        'filters map'
        'posts map '
        'posts .';

    .posts {
        grid-area: posts;
        border-radius: 1.25rem 1.25rem 0 0;
        overflow-y: auto;
        display: flex;
        flex-direction: column;
        gap: 1.75rem;

        &::-webkit-scrollbar {
            display: none;
        }
    }
}

@media screen and (max-width: 73rem) {
    .container {
        grid-template-columns: minmax(33rem, 41rem) 25rem;
        grid-template-areas:
            'filters map'
            'posts map '
            'posts .';
    }
}