.container {
    height: 100vh;
    min-height: -webkit-fill-available;
    max-width: 120rem;
    padding-inline: clamp(1rem, 3vw, 3.75rem);
    padding-top: calc(var(--header-height) + clamp(1rem, 3vw, 2.75rem));
    display: grid;
    gap: clamp(.7rem, 2.5vw, 2rem) clamp(1rem, 3vw, 3.75rem);
    margin-inline: auto;
    grid-template-columns: clamp(41rem, 47vw, 45rem) minmax(25rem, 65rem);
    grid-template-rows: min-content 1fr clamp(1rem, 3vw, 2.75rem);
    grid-template-areas:
        'filters map'
        'posts map '
        'posts .';

    .posts {
        grid-area: posts;
        border-radius: 1.25rem 1.25rem 0 0;

        .postsWrapper {
            height: 100%;
            display: flex;
            flex-direction: column;

            .showPostsBtn {
                display: none;
            }

            .postsContent {
                display: flex;
                flex-direction: column;
                gap: 1.75rem;
                overflow-y: auto;

                &::-webkit-scrollbar {
                    display: none;
                }
            }
        }
    }
}

@media screen and (max-width: 73rem) {
    .container {
        grid-template-columns: minmax(23rem, 41rem) 25rem;
    }
}


@media screen and (max-width: 53rem) {
    .container {
        grid-template-columns: min-content auto min-content;
        grid-template-rows: min-content 1fr;
        grid-template-areas:
            '. filters .'
            'map map map';
        padding-inline: 0;

        .posts {
            position: absolute;
            top: 96vh;
            height: 4vh;
            width: 100%;
            overflow: hidden;
            z-index: 12;
            border-radius: 2rem 2rem 0 0;
            background-color: var(--background-main);
            transition: .3s all ease-in-out;

            .postsWrapper {
                position: relative;

                .showPostsBtn {
                    position: absolute;
                    top: 0;
                    height: 2.5rem;
                    width: 100%;
                    display: block;
                    z-index: 12;
                    border: none;
                    background-color: var(--background-main);

                    &::before {
                        content: '';
                        position: absolute;
                        top: 1.25rem;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        width: 5rem;
                        height: .5rem;
                        border-radius: 2rem;
                        background-color: var(--accent-color);

                    }
                }

                .postsContent {
                    height: 100%;
                    overflow-y: auto;
                    padding-top: 3rem;
                    gap: 1rem;
                }
            }

            &[data-visible=true] {
                top: 30%;
                height: 70%;

                .postsWrapper {
                    height: 100%;
                }
            }
        }
    }
}