.container {
   // max-width: 1920px;
   margin-block: 1.75rem;
   // padding: 1rem;
   display: flex;
   flex-direction: column;
   gap: 1rem;

   .property {
      width: 50rem;
      margin-inline: auto;
      padding: 1.5rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-radius: 1.5rem;
      background-color: var(--background-element);

      .headline {
         margin-right: 2rem;
         max-width: 30rem;
         display: flex;
         flex-direction: column;
         gap: .5rem;

         .title {
            font-size: 1.4rem;
            cursor: pointer;
            transition: .15s ease-in-out;

            &:hover {
               color: var(--accent-color);
            }
         }

         .address {
            display: flex;
            align-items: center;
            gap: .5rem;
            font-size: 1rem;
            font-weight: 400;
         }

         .price {
            font-weight: 400;

            span {
               font-weight: 700;
               font-size: 1.2rem;
            }
         }
      }

      .buttons {
         display: flex;
         flex-direction: column;
         align-items: flex-end;
         gap: 1rem;

         .editBtn {
            padding: .3rem .5rem;
            border-radius: .5rem;
            border: 1px solid var(--text-main);
            background-color: transparent;
            font-weight: 400;
            text-transform: uppercase;
            text-decoration: none;
            text-align: center;
            cursor: pointer;
            transition: .15s;

            &:hover {
               border-color: var(--accent-color);
               color: var(--accent-color);
            }
         }

         .editForm {
            width: 70%;
            margin-inline: auto;

            .name {
               display: flex;
               gap: 1rem;

               * {
                  flex: 1;
               }
            }
         }
      }
   }
}