.container {
   
}

.sr-only {
   position: absolute; 
   width: 1px;
   height: 1px;
   padding: 0;
   margin: -1px; 
   overflow: hidden;
   clip: rect(0, 0, 0, 0);
   white-space: nowrap; 
   border: 0;
}

.submit-btn {
   margin-top: 2rem;
   cursor: pointer;
   background-color: getColor(text-main);
   color: getColor(background-element);
   padding: .5rem .75rem;
   border: 1px solid getColor(text-main);
   border-radius: .5rem;
   transition: .15s;

   &:hover {
      background-color: getColor(accent-color);
      border-color: getColor(accent-color);
   }
}