@import '../../styles/variables';

// * global
.wrapper {
   font-family: 'Roboto', sans-serif;
   font-weight: 500;
   font-size: 1rem;
   color: getColor(text-main);
   background-color: getColor(background-main);
   height: 100vh;
   overflow: hidden;
   display: grid;
   grid-template-rows: min-content 89vh;

   &.apartment {
      overflow-y: auto;
      grid-template-rows: min-content 1fr;
   }

   &::-webkit-scrollbar {
      width: .1rem;

      &-track {
         background: getColor(background-element); 
      }

       &-thumb {
         background: getColor(text-grey); 
      }
   }
}


// * homepage
.container--home {
   padding-top: clamp(1em, 3vw, 2.75em);
   display: grid;
   gap: clamp(1em, 3vw, 3.75em);
   grid-template-columns: minmax(0, 1fr) minmax(35rem, 45rem) minmax(20rem, 65rem) minmax(0, 1fr);
   grid-template-rows: min-content 1fr clamp(1em, 3vw, 2.75em);
   grid-template-areas: 
   '. filters map .'
   '. posts map .'
   '. posts . .';

   .filters {
      grid-area: filters;
   }

   .posts {
      grid-area: posts;
   }

   .map {
      grid-area: map;
   }
}

// * apartment
.container--apartment {
   display: grid;
   gap: clamp(1em, 3vw, 3.75em);
   grid-template-columns: minmax(0, 1fr) minmax(0, 112.5rem) minmax(0, 1fr);
   grid-template-areas: 
   '. apartment .'
   '. reviews .';

   .apartment-info {
      grid-area: apartment;
   }
   .reviews {
      grid-area: reviews;
   }
}

// * register
.container--register {
   width: 100vw;
   height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;
   position: relative;
}