.container {
    grid-area: favButton;
    // place-self: start end;
    position: relative;
    width: 2.75rem;
    aspect-ratio: 1;

    .label {
        position: absolute;
        inset: 0;
        z-index: 10;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 30rem;
        background-color: var(--background-main);
        color: var(--text-grey);
        font-size: 1.5rem;
        cursor: pointer;
        transition: .15s;

        &:hover {
            color: var(--accent-color);
        }
    }

    .toggle {
        position: absolute;
        opacity: 0;
    }
}