.container {
    background-color: var(--background-element);

    .wrapper {
        max-width: 120rem;
        height: 7.5rem;
        margin-inline: auto;
        padding: clamp(.1rem, 3vw, 1.75rem) clamp(1rem, 3vw, 3.75rem);
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 5.7rem;

        .logo {
            flex: 1;
            display: flex;
            align-items: center;
            gap: .75rem;

            .logoIcon {
                position: relative;
                width: 2.5rem;
                aspect-ratio: 1;

                * {
                    object-fit: contain;
                }
            }

            .logoTitle {
                font-size: 1.875em;

                span {
                    font-weight: 300;
                }
            }
        }

        .menu {
            flex: 7;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: clamp(.5em, 1vw, 1.5em);

            .search {
                max-width: 26rem;
                flex: 1;

                .box {
                    width: 100%;
                    position: relative;

                    .input {
                        width: 100%;
                        height: 3.75rem;
                        padding: 1.25rem 4rem 1.25rem 1.875rem;
                        border-radius: 0.75rem;
                        background-color: var(--background-main);
                        border: none;
                        color: var(--text-main);
                        font-weight: 400;
                        outline: none;

                        &::placeholder {
                            letter-spacing: .2px;
                            font-weight: 100;
                        }
                    }

                    .btn {
                        position: absolute;
                        right: 1rem;
                        top: 50%;
                        transform: translateY(-50%);
                        width: 2.25rem;
                        aspect-ratio: 1;
                        border-radius: 50%;
                        display: flex;
                        text-align: center;
                        justify-content: center;
                        align-items: center;
                        background-color: var(--accent-color);
                        border: none;
                        cursor: pointer;
                        font-size: 1.25rem;
                        color: var(--background-element);
                    }

                    .resultsMenu {
                        position: absolute;
                        top: 120%;
                        width: 100%;
                        max-height: 20rem;
                        z-index: 11;
                        padding: 1rem;
                        border-radius: 0.75rem;
                        background-color: var(--background-element);
                        -webkit-box-shadow: 0 0 3px 0px var(--accent-color) inset;
                        -moz-box-shadow: 0 0 3px 0px var(--accent-color) inset;
                        box-shadow: 0 0 3px 0px var(--accent-color) inset;

                        .resultsContainer {
                            max-height: 18rem;
                            overflow: auto;
                            padding-inline: 1rem;
                            display: flex;
                            flex-direction: column;
                            gap: .5rem;
                            align-items: flex-start;

                            &::-webkit-scrollbar {
                                width: .3rem;
                                height: .5rem;
                            }

                            &::-webkit-scrollbar-thumb:vertical {
                                height: 10px;
                                border: none;
                                -webkit-border-radius: 1rem;
                                background-color: #666;
                            }

                            .title {
                                text-align: center;
                                color: var(--accent-color);
                                font-weight: 300;
                            }

                            .results {
                                width: 100%;
                                display: flex;
                                flex-direction: column;
                                gap: .3rem;

                                .result {
                                    text-align: start;
                                    padding: 0;
                                    border: none;
                                    background-color: transparent;
                                    cursor: pointer;
                                    transition: .15s color ease-in-out;

                                    &:hover {
                                        color: var(--accent-color);
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .navigation {
                flex: 1;
                max-width: 30rem;
                display: flex;
                justify-content: flex-end;
                align-items: center;
                gap: clamp(.5em, 1vw, 1.5em);

                .settingsBtn {
                    border: none;
                    background-color: transparent;
                    color: var(--text-main);
                    font-size: 1.5rem;
                    cursor: pointer;
                    transition: .15s;

                    &:hover {
                        color: var(--accent-color);
                        transform: scale(1.1);
                    }
                }

                .settings {
                    padding-block: 1rem;
                    display: flex;
                    justify-content: center;
                    gap: 1rem;
                }

                .logInBtn {
                    padding: .6rem;
                    border-radius: .5rem;
                    border: 2px solid var(--text-main);
                    background-color: transparent;
                    color: var(--text-main);
                    font-size: 1.3rem;
                    font-weight: 400;
                    cursor: pointer;
                    transition: all .15s ease-in-out;

                    &:hover {
                        box-shadow: 0px 0px 0px 2px var(--accent-color);
                        border-color: transparent;
                        color: var(--accent-color);
                    }
                }

                .signInBtn {
                    padding: .6rem;
                    border-radius: .5rem;
                    border: none;
                    background-color: var(--text-main);
                    color: var(--background-element);
                    font-size: 1.3rem;
                    font-weight: 600;
                    cursor: pointer;
                    transition: .15s;

                    &:hover {
                        background-color: var(--accent-color);
                        box-shadow: 0px 0px 0px 3px var(--accent-color);
                    }
                }

                .link {
                    position: relative;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: .5rem;
                    padding: 0;
                    transition: .3s;
                    border: none;
                    background-color: transparent;
                    color: var(--text-main);
                    cursor: pointer;

                    &.main {
                        width: 3rem;
                        display: flex;
                        justify-content: center;
                        aspect-ratio: 1;
                        border-radius: 40%;
                        font-size: 1.5rem;
                        color: var(--text-grey);

                        &:hover,
                        &.active {
                            transform: scale(1.1);
                        }

                        .notification {
                            position: absolute;
                            top: .5rem;
                            right: 0rem;
                            height: 1.1rem;
                            aspect-ratio: 1;
                            display: flex;
                            justify-content: center;
                            border-radius: 50%;
                            outline: 2px solid var(--background-element);
                            background-color: var(--accent-color);
                            color: #fff;
                            font-size: .8rem;
                        }
                    }

                    &:hover,
                    &.active {
                        color: var(--accent-color);
                    }
                }

                .user {
                    display: flex;
                    align-items: center;
                    gap: 1rem;
                    padding-left: 1.5rem;
                    cursor: pointer;
                    border-left: 1px solid var(--text-grey);

                    &:hover .name {
                        color: var(--accent-color);
                    }

                    .name {
                        max-height: 3rem;
                        width: min-content;
                        margin-top: .2rem;
                        display: block;
                        text-align: flex-end;
                        font-weight: 500;
                        line-height: 1;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        transition: color .2s ease-in-out;

                        span {
                            font-weight: 300;
                        }
                    }

                    .image {
                        position: relative;
                        width: 3rem;
                        aspect-ratio: 1;
                        border-radius: 50%;
                        background-color: var(--background-main);
                        overflow: hidden;

                        * {
                            object-fit: cover;
                        }
                    }
                }

                .list {
                    display: flex;
                    flex-direction: column;
                    gap: 1rem;
                    padding: 1.25rem 2rem;
                }
            }
        }
    }
}

@media screen and (max-width: 64rem) {
    .navigation {
        margin-inline: auto 4rem;
    }

    .search {
        position: absolute;
        right: 0;
        z-index: 12;
        max-width: 40rem !important;

        .box {

            .input {
                width: 1rem !important;
                height: 2rem !important;
                padding: 0px !important;
                transform: translateX(-1.2rem);
                transition: all .3s ease-in-out;

                &:focus {
                    width: 28rem !important;
                    height: 3.75rem !important;
                    padding: 1.25rem 4rem 1.25rem 1.875rem !important;
                    transform: translateX(0);
                }
            }

            .btn {
                z-index: 2;

                &:focus~.input {
                    width: 28rem !important;
                    height: 3.75rem !important;
                    padding: 1.25rem 4rem 1.25rem 1.875rem !important;
                    transform: translateX(0);
                    transition: all 400ms cubic-bezier(0, 0.110, 0.35, 1.5) !important;
                }
            }
        }
    }
}