@import '../../styles/variables';

.profile-comp {
   display: flex;
   flex-direction: column;
   background-color: getColor(background-element);
   padding: 2rem;
   border-radius: 1.5rem;
   text-align: center;
   align-items: center;
   width: 43rem;
   gap: 2rem;

   &--image {
      position: relative;

      img {
         width: 8rem;
         aspect-ratio: 1;
         border-radius: 50%;
         overflow: hidden;
         object-fit: cover;
      }

      .edit-profile-btn {
         position: absolute;
         bottom: -.8rem;;
         right: -.8rem;
         width: 3.5rem;
         aspect-ratio: 1;
         border-radius: 50%;
         background-color: getColor(background-element);
         border: none;
         color: getColor(text-main);
         cursor: pointer;
         transition: .15s;

         &:hover {
            color: getColor(accent-color);
         }

         .icon {
            font-size: 1.6rem;
         }
      }
   }

   &--info {
      display: flex;
      flex-direction: column;
      gap: -1.1rem;
      font-size: 1.8rem;

      .phone {
         font-weight: 300;
      }

      .email {
         font-weight: 300;
         color: getColor(accent-color);
      }
   }

   .icon {
      font-size: 1.5rem;
   }

   

   &--btns {
      display: flex;
      width: 100%;
      justify-content: space-around;

      .profile-btn {
         padding-block: .5rem;
         display: flex;
         flex-direction: column;
         // justify-content: space-around;
         gap: .3rem;
         cursor: pointer;
         color: getColor(text-main);
         text-decoration: none;
         text-transform: uppercase;
         width: 100%;
         transition: .15s;

         &:not(:last-child) {
            border-right: 1px solid getColor(text-main);
         }

         &:hover {
            color: getColor(accent-color);
         }
      }
   }
}