.post {
    position: relative;
    max-width: 60rem;
    display: grid;
    gap: 1rem 1.5rem;
    grid-template-columns: min-content max-content 1fr min-content;
    grid-template-rows: repeat(3, min-content);
    grid-template-areas:
        'image headline headline favButton'
        'image conveniences conveniences conveniences'
        'image rating price price';
    padding: 1.8rem 2rem;
    border-radius: 1.25rem;
    background-color: var(--background-element);

    &:last-child {
        margin-bottom: 1.75rem;
    }

    .image {
        grid-area: image;
        position: relative;
        width: 12.5rem;
        height: 100%;
        border-radius: .625rem;
        overflow: hidden;

        .src {
            object-fit: cover;
        }

        .roommates {
            position: absolute;
            inset: 0;
            padding: 1rem;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            gap: .5rem;

            .images {
                display: flex;
                position: relative;

                .image {
                    width: min-content;

                    &:not(:first-child) {
                        margin-left: -.5rem;
                    }

                    .roommate {
                        position: relative;
                        width: 2.5rem;
                        aspect-ratio: 1;

                        .src {
                            border-radius: 50%;
                            object-fit: cover;
                        }
                    }
                }
            }

            .number {
                z-index: 1;
                color: #fff;
                font-size: 1.15rem;
                font-weight: 300;
            }

            &::before {
                content: "";
                position: absolute;
                inset: 0;
                background: linear-gradient(195deg, rgba(0, 0, 0, 0) 40%, rgb(35, 45, 78) 100%);
            }
        }
    }

    .headline {
        grid-area: headline;
        align-self: center;

        .title {
            font-weight: 500;
            cursor: pointer;
            transition: color .15s ease-in-out;

            &:hover {
                color: var(--accent-color);
            }
        }

        .address {
            font-weight: 400;
            font-size: 1rem;
        }
    }

    .favBtn {
        grid-area: favButton;
        width: 2.75rem;
        aspect-ratio: 1;
        border-radius: 30rem;
        background-color: var(--background-main);
        font-size: 1.5rem;
    }

    .conveniences {
        grid-area: conveniences;
        max-height: 3rem;
        overflow: hidden;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        color: var(--text-grey);
        font-weight: 400;

        li:not(:first-child) {
            margin-left: 1rem;
            position: relative;

            &:after {
                content: "•";
                position: absolute;
                left: -.65rem;
            }
        }
    }

    .rating {
        grid-area: rating;
        display: flex;
        text-align: center;
        align-items: center;
        gap: .5rem;

        .averageRating {
            font-size: 1.25rem;
        }

        .number {
            align-self: flex-end;
            font-size: .8rem;
        }
    }

    .price {
        grid-area: price;
        place-self: end;
        font-weight: 400;

        .value {
            font-weight: 700;
            font-size: 1.5rem;
        }
    }
}

@media screen and (max-width: 95.75rem) {
    .post .rating .number {
        display: none;
    }
}

@media screen and (max-width: 73rem) {
    .post {
        padding: 1rem 1.2rem;
        gap: .5rem 1rem;
        grid-template-areas:
            'image headline headline headline'
            'image conveniences conveniences conveniences'
            'image rating price price';

        .image {
            width: 10rem;
            border-radius: 1rem;

            .roommates {
                padding: .5rem;
                gap: .3rem;

                .images .image .roommate {
                    width: 2rem;
                }
            }
        }

        .favBtn {
            position: absolute;
            top: 1.5rem;
            left: 1.5rem;
            width: 2rem;
            font-size: 1rem;
        }
    }
}

@media screen and (max-width: 64rem) {
    .post {
        grid-template-areas:
            'image headline headline headline'
            'image conveniences conveniences conveniences'
            'image rating price price';

        .headline {
            .title {
                font-size: 1.25rem;
            }

            .address {
                font-size: .9rem;
            }
        }

        .conveniences {
            font-size: .9rem;
        }

        .rating .averageRating {
            display: none;
        }

        .price {
            .value {
                font-size: 1.15rem;
            }

            .month {
                display: none;
            }
        }
    }
}

@media screen and (max-width: 58rem) {
    .post {
        grid-template-areas:
            'headline headline headline favButton'
            'conveniences conveniences conveniences conveniences'
            'rating rating price price';

        .image {
            display: none;
        }

        .favBtn {
            position: relative;
            top: 0;
            left: 0;
        }

        .rating .averageRating {
            display: block;
            font-size: 1.1rem;
        }
    }
}

@media screen and (max-width: 53rem) {
    .post {
        padding: 0 1rem 0 0;
        gap: 1rem 1.5rem;
        grid-template-rows: repeat(5, min-content);
        grid-template-areas:
            'image . . .'
            'image headline headline favButton'
            'image conveniences conveniences conveniences'
            'image rating price price'
            'image . . .';
        border-radius: 0;

        .image {
            display: block;
            width: 12.5rem;
            border-radius: 0;

            .roommates {
                padding: .7rem 1rem;

                .images .image .roommate {
                    width: 2.2rem;
                }
            }
        }

        .headline {
            .title {
                font-size: 1.5rem;
            }

            .address {
                font-size: 1rem;
            }
        }

        .conveniences {
            font-size: 1rem;
        }

        .favBtn {
            width: 2.4rem;
            font-size: 1.3rem;
        }

        .rating .number {
            display: inline-block;
        }

        .price {
            .value {
                font-size: 1.3rem;
            }

            .month {
                display: inline-block;
            }
        }
    }
}