.container {
    grid-area: filters;
    display: grid;
    gap: .7rem 1rem;
    grid-template-areas:
        'headline roommatesToggle'
        'buttons sortBy';

    .headline {
        grid-area: headline;

        .title {
            font-size: 1.75rem;
        }

        .resultNum {
            font-weight: 400;
            font-size: 1.25rem;
            color: var(--text-grey);
        }
    }

    .roommatesToggle {
        grid-area: roommatesToggle;
        place-self: start end;
    }

    .buttons {
        grid-area: buttons;
        display: flex;
        gap: 1rem;

        .title {
            margin-bottom: 1rem;
        }

        .roommates {
            width: fit-content;
            margin-inline: auto;
            // margin-bottom: .5rem;
        }

        .filterForm {
            width: 70%;
            margin-inline: auto;
            display: flex;
            flex-direction: column;
            gap: .7rem;

            .subtitle {
                margin-top: 1rem;
            }

            .types {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;
                gap: .5rem;
                column-gap: 2rem;
            }
        }

        .reset {
            margin-top: 1rem;
            border: none;
            background-color: transparent;
            cursor: pointer;
            transition: .15s color ease-in-out;

            &:hover {
                color: var(--accent-color);
            }
        }

        .button {
            display: flex;
            gap: .3rem;
            align-items: center;
            padding: 0.5rem .7rem;
            border-radius: .5rem;
            border: 2px solid var(--text-grey);
            background-color: transparent;
            color: var(--text-grey);
            cursor: pointer;
            transition: .3s;

            &:hover {
                box-shadow: 0px 0px 0px 2px var(--accent-color);
                border-color: transparent;
                color: var(--accent-color);
            }

            &.filtersButton {
                display: none;
            }
        }
    }

    .sortBy {
        grid-area: sortBy;
        place-self: end;
        text-align: end;
        font-weight: 400;
        font-size: 1.25rem;
        cursor: pointer;

        span {
            font-weight: 700;
            color: var(--accent-color);
        }

        .list {
            display: flex;
            flex-direction: column;
            gap: .5rem;
            padding: 1rem 1.25rem;
            list-style: none;


            .item {
                cursor: pointer;
                transition: .15s;

                &:hover {
                    color: var(--accent-color);
                }
            }
        }
    }
}

@media screen and (max-width: 73rem) {
    .container {
        .buttons {

            .roommates {
                display: none;
            }

            .reset {
                display: none;
            }

            .filterForm .subtitle:first-child {
                margin-top: 0;
            }

            .button {
                display: none;

                &.filtersButton {
                    display: block;
                }

                &.resetButton {
                    display: block;
                }
            }
        }
    }
}

@media screen and (max-width: 69.875rem) {
    .container {
        grid-template-areas:
            'headline headline'
            'buttons sortBy';

        .headline {
            display: flex;
            justify-content: space-between;
            align-items: center;
            column-gap: 2rem;
            flex-wrap: wrap;
        }

        .roommatesToggle {
            display: none;
        }

        .buttons {

            .roommates {
                display: block;
            }

            .reset {
                display: none;
            }

            .filterForm .subtitle:first-child {
                margin-top: 1rem;
            }


            .button {
                display: none;

                &.filtersButton {
                    display: block;
                }

                &.resetButton {
                    display: block;
                }
            }
        }
    }
}

@media screen and (max-width: 62rem) {
    .container {
        grid-template-columns: 1fr 2fr;

        .headline {
            .title {
                font-size: 1.5rem;
            }

            .resultNum {
                font-weight: 300;
                font-size: 1rem;
            }
        }

        .buttons {
            .reset {
                display: inline-block;
            }

            .button {

                &.filtersButton {
                    padding: 0;
                    border: none;
                    font-size: 1.1rem;
                }

                &.resetButton {
                    display: none;
                }
            }
        }

        .sortBy {
            font-size: 1.1rem;
        }
    }
}