@import '../../styles/variables';

.map {
   border-radius: 1.25rem;
   overflow: hidden;

   .mapbox {

      .marker {

         .pin {
            font-size: 2rem;
            color: getColor(accent-color);
            cursor: pointer;
         }

      }
      .mapboxgl-popup-content {
         color: white;
         background-color: getColor(accent-color);
         border-radius: .7rem;
      }
     .mapboxgl-popup-tip { border-top-color: getColor(accent-color) }

     .popup {
        width: 17rem;

        .bottom {
         display: flex;
         justify-content: space-between;

            &--price {
            }
   
            .popup--details {
               color: white;
            }
         }

        
     }
   }
}