.container {
    position: relative;
    grid-area: map;
    border-radius: 1.25rem;
    overflow: hidden;
    background-color: var(--background-element);

    .marker {
        font-size: 2rem;
        color: var(--accent-color);
        cursor: pointer;
    }

    .popup {
        .details {
            text-decoration: underline;
            cursor: pointer;
            transition: color .15s ease-in-out;

            &:hover {
                color: var(--accent-color);
            }

        }
    }
}

@media screen and (max-width: 53rem) {
    .container {
        display: none;
    }
}