@import '../../styles/variables'; 

.apartment-info {
   width: 100%;
   padding: 1.8rem 2rem;
   background-color: getColor(background-element);
   margin-block: 1.75rem;
   border-radius: 1.25rem;
   display: grid;
   gap: 1.5rem;
   grid-template-columns:  repeat(3, 1fr);
   grid-template-rows: repeat(5, 1fr);
   grid-template-areas: 
      'images article landlord'
      'images roommates landlord '
      'images price favButton '
      'conveniences stats stats '
      'desc desc desc ';

   &--images {
      grid-area: images;
      display: flex;
      flex-wrap: wrap;
      
      picture {
         width: 12.5rem;
         aspect-ratio: 1;
         border-radius: .625rem;
         position: relative;
   
         img {
            border-radius: inherit;
         }
      }
   }
   
   &--article {
      grid-area: article;

      a {
         text-decoration: none;
         color: getColor(text-main);
      }

      .title {
         font-weight: 500;

      }

      .address {
         font-weight: 400;
         font-size: 16px;
         .icon {
            margin-right: .5rem;
         }
      }
   }

   &--landlord {
      grid-area: landlord;
   }

   &--roommates {
      grid-area: roommates;
   }

   &--add-to-favourites {
      grid-area: favButton;
      place-self: start end;
      width: 2.75rem;
      aspect-ratio: 1;
      border: none;
      border-radius: 30rem;
      color: getColor(text-grey);
      background-color: getColor(background-main);
      font-size: 1.5rem;
      cursor: pointer;
      transition: .15s;

      &:hover {
         color: getColor(accent-color);
      }
   }

   &--conveniences {
      grid-area: conveniences;
      display: flex;
      flex-wrap: wrap;
      list-style: none;
      padding: 0;
      color: getColor(text-grey);
      font-weight: 400;
      max-height: 4.5rem;
      overflow: hidden;

      li:not(:first-child) {
         margin-left: 1em;
         position: relative;

         &:after {
            content: "•";
            position: absolute;
            left: -.65em;
         }
      }
   }

   &--price {
      grid-area: price;
      place-self: end;
      font-weight: 400;

      span {
         font-weight: 700;
         font-size: 24px;
      }
   }

   &--stats {
      grid-area: stats;
   }

   &--desc {
      grid-area: desc;
   }

   &:last-child {
      margin-bottom: 4rem;
   }
}