@import '../../styles/variables'; 

.apartment-info {
   width: 100%;
   padding: 1.8rem 2rem;
   background-color: getColor(background-element);
   margin-block: 1.75rem;
   border-radius: 1.25rem;
   display: grid;
   gap: 3rem;
   grid-template-columns: 1.5fr auto 1fr min-content;
   // grid-template-rows: repeat(5, min-content);
   grid-template-areas: 
      'images article article favButton'
      'images roommates landlord landlord'
      'conveniences stats stats stats'
      'desc desc desc desc';

   &--images {
      grid-area: images;
      height: 32rem;
      display: flex;
      gap: 1rem;
      
      .active-image {
         flex: 8;
         position: relative;
         border-radius: .7rem;
         overflow: hidden;
         background-color: getColor(text-grey);

         &:hover {
            .img-btn {
               opacity: 50%;
            }
         }

         .img-btn {
            font-size: 2rem;
            color: getColor(accent-color);
            width: 3rem;
            aspect-ratio: 1;
            background-color: getColor(background-element);
            border: none;
            border-radius: 50%;
            opacity: 0;
            position: absolute;
            top: 50%;
            transform: translateY(-50%); 
            
            transition: .3s;
            cursor: pointer;

            &:hover {
               opacity: 1;
            }
         }

         .next-btn {
            right: 1rem;
         }

         .prev-btn {
            left: 1rem;
         }

         .image {
            width: 100%;
            height: 100%;
            object-position: center;
            object-fit: contain;
         }
      }

      .inactive-images {
         flex: 1;
         border-radius: .7rem;
         display: flex;
         flex-direction: column;
         gap: 1rem;
         overflow-y: auto;

         &::-webkit-scrollbar {
            display: none;
         }

         .inactive-image {
            cursor: pointer;
            border-radius: .7rem;
            aspect-ratio: 1;
            object-position: center;
            object-fit: cover;
         }
      }
   }

   &--article {
      grid-area: article;

      .title {
         margin-bottom: .5rem;
         font-size: 2.5rem;
         font-weight: 500;
      }

      .address {
         margin-bottom: .5rem;
         color: getColor(text-main);
         font-weight: 300;
         font-size: 1.7rem;
      }

      .rating {
         display: flex;
         align-items: center;
         margin-top: .5rem;

         .num {
            font-size: 1.35rem;
            margin-right: .5rem;
         }
      }

      .roommates {
         margin-top: .5rem;
         color: getColor(text-main);
         font-size: 1.25rem;
         font-weight: 300;
         display: flex;
         gap: 1rem;

         .imgs {
            display: flex;

            .blya-kakzhe-ya-zaebalsya {
               position: relative;
               border-radius: 50%;
               width: 3rem;
               aspect-ratio: 1;
               cursor: pointer;
               

               &:hover {
                  .roommate-img {
                     -webkit-filter: brightness(50%);
                  }

                  .icon-chat {
                     opacity: 1;
                  }
               }

               &:not(:first-child) {
                  margin-left: -.5rem;
               }

               .roommate-img {
                  width: 3rem;
                  aspect-ratio: 1;
                  border-radius: 50%;
                  object-fit: cover;
                  margin-bottom: .2rem;
                  -webkit-filter: brightness(100%);
                  transition: all .3s ease;

                  
               }

               .icon-chat {
                  color: getColor(accent-color);
                  position: absolute;
                  inset: 0;
                  margin: auto;
                  font-size: 1.5rem;
                  opacity: 0;
                  transition: all .5s ease;
               }
            }
         }
      }

      

      .price {
         font-weight: 400;

         span {
            font-weight: 700;
            font-size: 2rem;
         }
      }
   }

   &--landlord {
      grid-area: landlord;
      place-self: end;
      display: flex;

      .who {
         display: flex;
         flex-direction: column;
         // justify-content: space-between;
         justify-content: end;
         align-items: end;
         margin-right: 1rem;

         .role {
            font-weight: 400;
            font-size: 24px;
            color: getColor(accent-color);
            text-transform: capitalize;
         }

         .name {
            font-weight: 500;
            font-size: 40px;
            text-align: end;
         }

         .phone-number {
            font-weight: 300;
            font-size: 1.5rem;
            text-decoration: none;
            color: getColor(text-main);

            .icon {
               font-size: 1.5rem;
            }
         }
      }

      .img-block {
         position: relative;

         .landlord-photo {
            width: 8.75rem;
            aspect-ratio: 1;
            border-radius: 50%;
            overflow: hidden;
   
            img {
               width: 100%;
               height: 100%;
               object-position: center;
               object-fit: cover;
            }

         }
         .chat-link {
            position: absolute;
            bottom: -.8rem;
            right: -.8rem;
            width: 3.5rem;
            border-radius: 50%;
            border: none;
            aspect-ratio: 1;
            font-size: 1.7rem;
            background-color: getColor(background-element);
            color: getColor(text-main);
            cursor: pointer;
            transition: .15s;

            &:hover {
               color: getColor(accent-color);
            }
         }
      }
   }

   &--roommates {
      grid-area: roommates;
      place-self: end start;

      .photos {
         display: flex;

         .roommate-photo {

            img {
               width: 4rem;
               aspect-ratio: 1;
            }
         }

         .roommate-photo:not(:first-child) {
            margin-left: -20px;
         }
      }
      .roommates-number {
         font-weight: 400;
         font-size: 1.7rem;
      }

      .roommates-names {
         font-weight: 300;
         font-size: 1.5rem;
      }
      
   }

   &--add-to-favourites {
      grid-area: favButton;
      place-self: start end;
      width: 3rem;
      aspect-ratio: 1;
      border: none;
      border-radius: 30rem;
      color: getColor(text-grey);
      background-color: getColor(background-main);
      font-size: 1.5rem;
      cursor: pointer;
      transition: .15s;

      &:hover {
         color: getColor(accent-color);
      }
   }

   &--conveniences {
      grid-area: conveniences;
      display: flex;
      flex-wrap: wrap;
      list-style: none;
      padding: 0;
      color: getColor(text-grey);
      font-size: 1.2rem;
      font-weight: 400;
      overflow: hidden;
      position: relative;

      &::after {
         content: "";
         position: absolute;
         top: 0;
         bottom: 0;
         left: 0;
         border: 5px solid getColor(background-element);
      }

      li {
         padding-inline: 1em;
         position: relative;

         &:first-letter {
            text-transform: uppercase;
        }

         &:after {
            content: "•";
            font-size: 1.7rem;
            color: getColor(accent-color);
            position: absolute;
            left: -4px;
         }
      }
   }

   

   &--stats {
      grid-area: stats;
      display: flex;
      justify-content: space-around;
      text-align: center;
      

      .info {
         display: flex;
         flex-direction: column;
         justify-content: center;
         width: 100%;
      }
      .info:not(:last-child) {
         border-right: 1px solid getColor(text-grey);
      }

      .stat {
         font-weight: 400;
         font-size: 30px;
         text-transform: capitalize;
      }

      .value {
         font-size: 2rem;
         font-weight: 700;
         color: getColor(accent-color);
      }
   }

   &--desc {
      grid-area: desc;
      font-weight: 400;
      font-size: 1.7rem;
      white-space: pre-wrap;

      .map {
         width: 40%;
         aspect-ratio: 3/2;
         float: right;
         margin: 0 0 1rem 1rem;
      }
   }
}