@import '../../styles/variables'; 

.apartment-info {
   width: 100%;
   padding: 1.8rem 2rem;
   background-color: getColor(background-element);
   margin-block: 1.75rem;
   border-radius: 1.25rem;
   display: grid;
   gap: 3rem;
   grid-template-columns: 1.5fr auto 1fr min-content;
   // grid-template-rows: repeat(5, min-content);
   grid-template-areas: 
      'images article article favButton'
      'images roommates landlord landlord'
      'conveniences stats stats stats'
      'desc desc desc desc';

   &--images {
      grid-area: images;
      place-self: end;
      display: grid;
      grid-template-columns: minmax(0, 46rem) 5.5rem;
      gap: 1rem;
      height: 24rem;

      .image {
         border-radius: .5rem;
         overflow: hidden;
         grid-column: 2;

         img {
            aspect-ratio: 1;
            object-fit: cover;
         }
      }

      .active {
         grid-column: 1;
         grid-row: 1/5;
         
         img {
            width:100%;
            height:100%;
            object-position: center;
            object-fit: cover;
         }
      }
   }
   
   &--article {
      grid-area: article;

      .title {
         margin-bottom: .5rem;
         font-size: 2.5rem;
         font-weight: 500;
      }

      .address {
         margin-bottom: .5rem;

         a{
            text-decoration: none;
            color: getColor(text-main);
            font-weight: 300;
            font-size: 1.7rem;
         }
      }

      .price {
         font-weight: 400;

         span {
            font-weight: 700;
            font-size: 2rem;
         }
      }
   }

   &--landlord {
      grid-area: landlord;
      place-self: end;
      display: flex;

      .who {
         display: flex;
         flex-direction: column;
         justify-content: space-between;
         align-items: end;
         margin-right: 1rem;

         .role {
            font-weight: 400;
            font-size: 24px;
            color: getColor(accent-color);
            text-transform: capitalize;
            margin-right: -15px;
         }

         .name {
            font-weight: 500;
            font-size: 40px;
         }

         .phone-number {
            font-weight: 300;
            font-size: 1.5rem;
            text-decoration: none;
            color: getColor(text-main);
            margin-right: -15px;

            .icon {
               font-size: 1.5rem;
            }
         }
      }

      .img-block {
         position: relative;

         .landlord-photo {
            
            width: 8.75rem;
            aspect-ratio: 1;
            border-radius: 50%;
            overflow: hidden;
   
            img {
               width: 100%;
               height: 100%;
               object-position: center;
               object-fit: cover;
            }

         }
         .chat-link {
            position: absolute;
            bottom: -.8rem;
            right: -.8rem;
            width: 3.5rem;
            border-radius: 1rem;
            aspect-ratio: 1;
            background-color: getColor(accent-color);
            font-size: 1.7rem;
            color: #fff;
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
         }
      }
   }

   &--roommates {
      grid-area: roommates;
      place-self: end start;

      .photos {
         display: flex;

         .roommate-photo {

            img {
               width: 4rem;
               aspect-ratio: 1;
            }
         }

         .roommate-photo:not(:first-child) {
            margin-left: -20px;
         }
      }
      .roommates-number {
         font-weight: 400;
         font-size: 1.7rem;
      }

      .roommates-names {
         font-weight: 300;
         font-size: 1.5rem;
      }
      
   }

   &--add-to-favourites {
      grid-area: favButton;
      place-self: start end;
      width: 3rem;
      aspect-ratio: 1;
      border: none;
      border-radius: 30rem;
      color: getColor(text-grey);
      background-color: getColor(background-main);
      font-size: 1.5rem;
      cursor: pointer;
      transition: .15s;

      &:hover {
         color: getColor(accent-color);
      }
   }

   &--conveniences {
      grid-area: conveniences;
      display: flex;
      flex-wrap: wrap;
      list-style: none;
      padding: 0;
      color: getColor(text-grey);
      font-size: 1.2rem;
      font-weight: 400;
      overflow: hidden;
      position: relative;

      &::after {
         content: "";
         position: absolute;
         top: 0;
         bottom: 0;
         left: 0;
         border: 5px solid getColor(background-element);
      }

      li {
         padding-inline: 1em;
         position: relative;
         text-transform: capitalize;

         &:after {
            content: "•";
            font-size: 1.7rem;
            color: getColor(accent-color);
            position: absolute;
            left: -4px;
         }
      }
   }

   

   &--stats {
      grid-area: stats;
      display: flex;
      justify-content: space-around;
      text-align: center;
      

      .info {
         display: flex;
         flex-direction: column;
         justify-content: center;
         width: 100%;
      }
      .info:not(:last-child) {
         border-right: 1px solid getColor(text-grey);
      }

      .stat {
         font-weight: 400;
         font-size: 30px;
         text-transform: capitalize;
      }

      .value {
         font-size: 2rem;
         font-weight: 700;
         color: getColor(accent-color);
      }
   }

   &--desc {
      grid-area: desc;
      font-weight: 400;
      font-size: 1.7rem;
      white-space: pre-wrap;
   }
}